#ignore these directories 
data/
test/
error_logs/
logs/
results/
intermediate/
interpro/

# matches any files and directories with the name 
CDS_filtered
results
intermediate
assemblies*
slurm*
BUSCO*
*log
